.header {
    background: #fff;
}

body {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
    padding: 0;
}

.navbar-wrap {
    position: relative;
    box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 20px 0;
}

.navbar__nav {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.navbar-menu {
    flex-basis: 70%;
    /* display: flex;
    justify-content: center;
    list-style: none; */
}

.navbar-menu__item {
    margin: 5px 10px;
    display: inline-block;
}

.navbar-menu__item-link {
    font-weight: 700;
    font-family: 'Arial';
    font-size: 16px;
    color: #09c;
    border-bottom: 1px solid rgba(0, 153, 204, 0.5);
    text-decoration: none;
}

.navbar-menu__item-link_business, .navbar-menu__item-link_programms, .navbar-menu__item-link_services {
    font-weight: 400;
    font-size: 14px;
}

.navbar-menu__item-link:hover {
    color: #6c3;
    border-bottom: 1px solid #6c3;
}

.navbar__logo {
    margin-left: 30px;
    text-decoration: none;
    flex-basis: 20%;
    display: flex;
    align-items: center
}

.navbar__logo_hidden {
    display: none;
}

.navbar__logo-title {
    color: #000;
    margin-left: 15px;
    font-weight: bold;
}

.navbar-menu__title {
    display: inline-block;
    width: 80px;
    font-weight: 700;
    font-size: 14px;
}

.navbar-menu_business, .navbar-menu_programms, .navbar-menu_services {
    margin: 0;
    flex-basis: 100%;
    background: rgba(165, 162, 162, 0.2);
    padding-left: 73px;
}

.navbar-menu_services {
    background: #fff;
}

.navbar__hidden {
    display: none;
}

.navbar__burger {
    top: 20px;
    right: 20px;
    position: absolute; 
    cursor: pointer;
    display: none;     
}

.navbar__burger-item {
    width: 30px;
    height: 2px;
    background: #000;  
    margin: 10px;
    position: relative;
    transition: all .23s linear .23s;
}

.navbar__hidden:checked ~ .navbar__btn .first {
    transform: rotate(45deg);
    top: 12px;
}
.navbar__hidden:checked ~ .navbar__btn .second {
    opacity: 0;
}
.navbar__hidden:checked ~ .navbar__btn .third {
    transform: rotate(-45deg);
    top: -12px;
}

@media screen and (max-width: 810px) {
    .navbar__burger {
        display: block;
    }
    .navbar__nav {
        display: none;
    }
    .navbar-menu {
        flex-basis: 100%;
        padding-left: 20px;
    }
    .navbar-menu_business, .navbar-menu_programms, .navbar-menu_services {
        padding-left: 20px;
    }
    .navbar__logo {
        display: none;
    }
    .navbar__logo_hidden {
        display: flex;
    }
}

@media screen and (max-width: 560px) {
    .navbar-menu__item {
        display: block;
        margin-top: -5px;
        padding: 5px 0;
    }
}