@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Neris-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Neris-Black.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Neris-SemiBold.otf');
    font-weight: 600;
    font-style: normal;
}